@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";
$font_path: "/static/font/";
@font-face {
  font-family: "IranSans";
  src: url("#{$font_path}iransansweb.ttf") format("TrueType");
}
$primary: #4e07d8;
$secondary: #680579;
$main_gradient: linear-gradient(90deg, $primary 0%, #6a0499 51%, $secondary 100%);
$info_gradient: linear-gradient(90deg, #525252 0%, #3a3a3a 51%, #2f2f2f 100%);
$success: #198754;
$info: #664d03;
$warning: #ffc107;
$danger: #dc3545;
$light: #ffe69b;
$dark: #535454;
$darker: #212529;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}