@import "custom";
// @import "~bootstrap/scss/bootstrap";
html,
body,
.rrs {
  font-family: "IranSans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nprogress {
  position: relative;
  z-index: 9999999;
}
#nprogress .spinner {
  right: 49%;
}
#nprogress .bar {
  background: $primary;
}
#nprogress .spinner-icon {
  border-top-color: $secondary;
  border-left-color: $secondary;
}
.form-floating > label {
  left: auto;
  right: 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.8) translateY(-0.6rem) translateX(1.3rem);
}
.form-control:focus {
  box-shadow: 0 0 0 0.1rem #673ab770;
}
.navbar {
  z-index: 99;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0 / 72%);
}
.navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: $primary;
  font-weight: bold;
}
.fade_menu-enter {
  opacity: 0;
}
.fade_menu-enter-active {
  opacity: 1;
  transition: opacity 230ms;
}
.fade_menu-exit {
  opacity: 1;
}
.fade_menu-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
.search_result {
  position: absolute;
  left: 54px;
  top: 54px;
  z-index: 999;
  min-height: 130px;
  width: 20rem;
  background: #ffffff;
  padding: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 2px #e0e0e0;
  box-shadow: 0px 1px 4px 2px #e0e0e0;
  @media (max-width: 767px) {
    left: 5%;
    right: auto;
    top: 186px;
    width: 90%;
  }
}
.search_result .border-light.rounded-circle {
  padding: 5px !important;
}
.search_result .user_btn {
  font-size: 0.82rem;
  border-radius: 8px;
}
.border_color {
  border-color: $secondary !important;
}
.bg_color {
  background: $primary;
}
.bg_color_hover:hover {
  background: $secondary;
  color: #fff;
}
.min_h {
  min-height: 66vh;
  max-height: 76vh;
  overflow-y: auto;
  word-break: break-all;
  direction: ltr;
  border-right: 1px solid #dee2e6 !important;
  scrollbar-color: $secondary rgb(218, 218, 218);
  scrollbar-width: thin;
}
.min_h::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.min_h::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.min_h::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: $primary;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $secondary;
}
.receiver_username {
  min-height: 48px;
  position: absolute;
  z-index: 9;
  top: 3rem;
  background: #fafafa;
  background: $light_gradient;
  height: 2.5rem;
  max-width: 99%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    justify-content: flex-end !important;
  }
  h4 {
    margin-top: 5px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    min-width: 9rem;
    min-height: 2.3rem;
    border-radius: 12px;
    background: $main_gradient;
    color: #fff;
    box-shadow: 0px 1px 4px 0px #673ab796;
  }
  .video_call_wrapper {
    position: absolute;
    display: flex;
    left: 9rem;
    right: auto;
    align-self: center;
    align-items: center;
    margin-top: 4px;
    .video_call_btn {
      margin-left: 1rem;
      cursor: pointer;
      &:hover {
        opacity: 0.78;
      }
    }
    .audio_call_btn {
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        opacity: 0.78;
      }
    }
    @media (max-width: 767px) {
      left: auto;
      right: 3.5rem;
    }
  }
}
.user_btn {
  font-size: 0.92rem;
  color: #424242;
  background-color: #f5f5f5;
  border-color: #fff;
  min-width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
  box-shadow: 0 0 2px 0px #bdbdbd;
  .border-light.rounded-circle {
    padding: 7px !important;
  }
  .badge {
    position: absolute;
    left: -7px;
    top: -7px;
    font-size: 0.8rem;
  }
}
.user_btn.active {
  background: $main_gradient;
  color: #fff;
}
.user_btn:hover {
  background-color: $secondary;
  color: #fff;
}
.fade-appear {
  opacity: 0.01;
}
.fade.fade-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.modal-dialog,
.modal {
  transition: all 250ms ease-in-out;
}
.chat_wrapper {
  background: #fafafa;
  border-radius: 30px;
}
.dot_menu_wrapper {
  position: absolute;
  z-index: 98;
  top: 5rem;
  border-radius: 5rem;
  width: 32px;
  height: 32px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px #e0e0e0;
  right: auto;
  @media (max-width: 767px) {
    right: 12px;
  }
  .dropdown-toggle {
    border-radius: 50px;
    min-width: 50px;
    min-height: 50px;
    background: none;
    &:hover {
      background: #aa9bff;
    }
  }
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 230ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 250ms;
  }
  .dropdown-menu.show {
    transition: all 250ms ease-in-out !important;
  }
  .dropdown-menu {
    transition: all 200ms ease-in-out !important;
    top: 30px;
    right: 10px;
    min-width: 12rem;
    text-align: center;
    font-size: 0.85rem;
    .delete_messages {
      border: none;
    }
  }
}
.messages {
  font-size: 0.9rem;
  word-break: break-word;
  direction: rtl;
  padding-bottom: 2rem;
  .message_from {
    float: left;
    direction: ltr;
    box-shadow: 0 0 6px 3px #eeeeee;
    max-width: 75% !important;
    min-width: 55%;
    clear: both;
    .card-header {
      background: $main_gradient;
      color: #fff;
    }
  }
  .message_me {
    float: right;
    direction: rtl;
    box-shadow: 0 0 6px 3px #eeeeee;
    max-width: 75% !important;
    min-width: 55%;
    clear: both;
    .card-header {
      background: $info_gradient;
      color: #fff;
    }
  }
  .readed_wrapper {
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
}
.text_wrap {
  background-color: #fff;
  z-index: 1;
  .text_message {
    clear: both;
    margin: auto;
    margin-top: -25px;
    .form-floating {
      width: 90%;
      @media (max-width: 767px) {
        width: 100%;
      }
      label {
        font-size: 0.85rem;
      }
    }
    #message_input {
      // height: 100px;
      resize: none;
      font-size: 0.85rem;
      padding-left: 100px;
    }
    .message_buttons {
      display: flex;
      align-items: center;
      position: absolute;
      left: 10px;
      padding-left: 6px;
      @media (max-width: 767px) {
        padding-left: 2px;
      }
      .send_btn {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        box-shadow: 0 0 9px 1px rgb(153, 153, 153);
        background: #efefef;
        text-align: center;
        border-radius: 50px;
        padding: 0;
        padding-right: 3px;
        justify-content: center;
        display: flex;
        border: none;
        margin-right: 10px;
        // transform: rotate(180deg);
        cursor: pointer;
        transition: all 0.17s ease;
        &:hover {
          transition: all 0.17s ease;
          background: #ffffff;
          box-shadow: 0 0 6px 5px $primary;
        }
      }
      .emoji_icon {
        justify-content: center;
        display: flex;
        text-align: center;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.17s ease;
        border-radius: 100px;
        height: 33px;
        width: 33px;
        padding: 0;
        border: none;
        padding-top: 1px;
        transition: all 0.2s ease-in-out;
        &:hover {
          transition: all 0.2s ease-in-out;
          box-shadow: 0 0 2px 0px #bdbdbd;
          a {
            div {
              transition: all 0.17s ease;
              min-width: 33px;
              min-height: 33px;
            }
          }
        }
        a {
          div {
            min-width: 32px;
            min-height: 32px;
          }
        }
      }
    }
  }
  .emoji-mart {
    font-size: 14px;
    position: absolute;
    bottom: 18px;
    left: -109%;
    .emoji-mart-bar {
      display: none;
    }
    @media (max-width: 767px) {
      left: -47%;
    }
  }
}
.toast_wrapper {
  z-index: 99;
  width: fit-content;
  .toast-header {
    direction: ltr;
  }
}
.footerColor {
  color: $primary;
}
.footerColor:hover {
  color: #000;
}
.footerColor2 {
  font-family: cursive;
  color: #9e9e9e;
}
#enter_modal {
  background: #00000033;
  overflow: hidden;
  .modal-dialog {
    margin-top: -30px;
  }
  .modal-content {
    border-radius: 12px;
  }
  .modal-body {
    .user_info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .usr_img {
        img {
          border-radius: 10px;
        }
      }
      .usr_name {
        font-size: rfs-fluid-value(1.35rem);
      }
    }
  }
  .modal-footer {
    justify-content: space-evenly;
    padding: 2px;
    .video_icon {
      cursor: pointer;
      min-width: 54px;
      min-height: 54px;
      display: flex;
      justify-content: center;
      border-radius: 50px;
      transition: all 0.1s ease-in-out;
      &:hover {
        transition: all 0.1s ease-in-out;
        background: #232323;
      }
    }
  }
}
#video_modal {
  position: absolute;
  left: 0;
  top: -24px;
  width: 100%;
  min-height: 100%;
  background: #00000033;
  overflow: hidden;
  .modal-dialog {
    margin-top: 4rem;
    margin-left: 2px;
    float: left;
    min-width: 75.5%;
  }
  .modal-header {
    padding: 10px;
    padding-right: 14px;
    padding-left: 10px;
    background: $dark_gradient;
    .header_icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
    .minimize {
    }
  }
  .modal-body {
    height: 65vh;
    overflow: hidden;
    .placeholder_video {
      z-index: 3;
      top: 0;
      right: 0;
      position: absolute;
      background: #fff;
    }
    .text-primary {
      color: $primary !important;
      width: 3rem;
      height: 3rem;
    }
    .local_video {
      position: absolute;
      top: 6px;
      right: 6px;
      z-index: 2;
      width: 20%;
      height: auto;
      min-height: 220px;
      min-width: 300px;
      display: flex;
      justify-content: center;
      border: 2px solid #e0e0e0;
      border-radius: 15px;
      @media (max-width: 767px) {
        width: 45%;
        height: 24%;
        min-height: 100px;
        min-width: 120px;
      }
      video {
        border-radius: 15px;
        width: 100%;
        height: 100%;
      }
    }
    .remote_video {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
      }
    }
    .recording {
      position: absolute;
      top: 5px;
      left: 6px;
      z-index: 9;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      width: auto;
      padding: 4px;
      background: #42424254;
      border-radius: 8px;
      .rec_icon {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          background: #424242;
          border-radius: 50px;
        }
      }
    }
  }
  .modal-footer {
    justify-content: space-evenly;
    padding: 2px;
    background: $primary_gradient;
    .video_icon {
      cursor: pointer;
      width: 44px;
      height: 44px;
      background: #9e9e9e;
      display: flex;
      justify-content: center;
      border-radius: 50px;
      transition: all 0.1s ease-in-out;
      &:hover {
        transition: all 0.1s ease-in-out;
        background: #232323;
      }
    }
    .call {
      width: 54px;
      height: 54px;
      background: #c62828;
      padding-right: 2px;
    }
  }
}
.video_call_maximize {
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  width: 85px;
  height: 85px;
  bottom: 0px;
  .video_call_btn {
    animation: pulse 2.5s infinite, heartbeat 1.5s ease-in-out infinite both;
    cursor: pointer;
    width: 70px;
    height: 70px;
    // background: darkmagenta;
    display: flex;
    justify-content: center;
    border-radius: 100px;
  }
}
// .title {
//   @include font-size(4rem);
// }
// .selector {
//   @include rfs(4rem, border-radius);
// }
// .selector {
//   @include padding(2.5rem !important);
// }
// .selector {
//   @include media-breakpoint-down(lg) {
//     padding: rfs-fluid-value(2rem);
//     font-size: rfs-fluid-value(1.125rem);
//   }
// }
// @media (max-width: 991.98px) {
//   .selector {
//     padding: calc(1.325rem + 0.9vw);
//     font-size: 1.125rem; /* 1.125rem is small enough, so RFS won't rescale this */
//   }
// }